/* body */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F8F9;
}

/* comuni */
.bottone {
    padding: 5px;
    border-radius: 5px;
}

.verde {
    color: green;
}

.rosso {
    color: red;
}

h2 {
    font-size: 20px;
    font-weight: 800;
}

.margine-5 {
    margin: 4px 0;
}

/* header  */
header {
    height: 100px;
    padding: 20px;
    margin-left: 20px;
}

 header, .bottone-grigio {
     background-color: white;
 }
#logo, #logo-scritta {
    vertical-align: middle;
}
#logo {
    height: 100%;
}

#logo-scritta {
    font-size: 50px;
    font-weight: 800;
}

/* main  */
main {
    width: 60%;
    margin: 50px auto ;
}

.bottone-blu {
    background-color: #47ADF1;
    color: white;
    border: 0px solid #47ADF1;
    margin-right: 2px;
}
.bottone-grigio {
    color: lightgrey;
    border: 1px solid lightgrey;
}

/* sezione speciale con molti bottoni */
.sezione {
    margin: 40px 0;
    font-size: 15px;
}

.editorial, .q1, .recruiting, .mobile, .website, .sales {
    padding: 5px;
    border-radius: 10px;
    border: 0;
    color: white; 
}
.editorial {

    background-color: #47ADF1;
}

.q1 {
    background-color: #9C72E4;
}

.recruiting {
    background-color: #64C0A9;
}

.mobile {
    background-color: #F29E33;
}

.website {
    background-color: #D863A1;
}

.sales {
    background-color: #B0C926;
}